Source: accel-ppp
Section: contrib/net
Priority: extra
Maintainer: Cesar Fazan <cesar.fazan@gmail.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.8)
Homepage: http://sourceforge.net/projects/accel-ppp/

Package: accel-ppp
Architecture: any
Depends: libssl1.0.0, libpcre3, libnl-3-200, ${misc:Depends}
Replaces: accel-ppp
Description: High performance PPTP/L2TP/PPPoE server for Linux.
